.copyWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  /* max-width: 800px; */
}
.title {
  color: #fff;
  font-size: 2rem;
  text-shadow: 0 3px 10px rgb(0, 0, 0);
  font-weight: 800;

  @media (min-width: 768px) {
    font-size: 3rem;
  }

  @media (min-width: 1024px) {
    font-size: 4rem;
  }

  @media (min-width: 1200px) {
    font-size: 6rem;
  }
}

.logo {
  width: 40px;

  @apply shadow-ale;
  border-radius: 100%;
  @media (min-width: 768px) {
    width: 50px;
  }

  @media (min-width: 1024px) {
    width: 70px;
  }

  @media (min-width: 1200px) {
    width: 90px;
  }
}

.subTitle {
  color: #fff;
  font-size: 0.8rem;
  text-shadow: 0 1px 4px rgb(0, 0, 0);
  font-weight: 200;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  padding: 0.5rem 0;

  @media (min-width: 768px) {
    font-size: 1rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.4rem;
  }

  @media (min-width: 1200px) {
    font-size: 2rem;
  }
}
