.copyWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
}
.title {
  color: #fff;
  font-size: 2.2rem;
  text-shadow: 0 3px 10px rgb(0, 0, 0);
  font-weight: 800;

  @media (min-width: 768px) {
    font-size: 3rem;
  }

  @media (min-width: 1024px) {
    font-size: 4rem;
  }

  @media (min-width: 1200px) {
    font-size: 6rem;
  }
}

.logo {
  width: 40px;

  @apply shadow-ale;
  border-radius: 100%;
  @media (min-width: 768px) {
    width: 50px;
  }

  @media (min-width: 1024px) {
    width: 70px;
  }

  @media (min-width: 1200px) {
    width: 90px;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  img {
    object-fit: cover;
  }
  @media (min-width: 640px) {
    aspect-ratio: 2;
  }

  @media (min-width: 1024px) {
    aspect-ratio: 2.5;
  }
}

.subTitle {
  color: #fff;
  font-size: 1rem;
  text-shadow: 0 1px 4px rgb(0, 0, 0);
  font-weight: 200;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  padding: 0.5rem 2rem;

  @media (min-width: 768px) {
    font-size: 1.2rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.4rem;
  }

  @media (min-width: 1200px) {
    font-size: 2rem;
  }
}
