.navButton {
  position: absolute;
  top: 50%;
  transform: translateX(-100%) translateY(-50%);
  transition: background-color 0.3s, color 0.3s;
}

.navButton:disabled {
  opacity: 0.2;
}
.navButton:not([disabled]):hover {
  @apply bg-primary-300;
  /* color: black; */
}

.prevButton {
  left: -4px;
}

.nextButton {
  left: 4px;
  transform: translateY(-50%);
}

.progress {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.scrollArea {
  gap: 16px;
}
.mainContent {
  position: relative;
}

.twilightArea {
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
}

.rightTwilightArea {
  right: 0;
}

.leftTwilightAreaWidth {
  left: 0;
}

.carouselWrapper {
  padding: 16px 0;
  height: 100%;
  background-color: #f3f3f3;
  position: relative;
}

.li {
  max-width: 100%;
  width: var(--slideWidth);
  flex-shrink: 0;
  border-radius: 6px;
}
.li:hover {
  .slideAnchor {
    @apply bg-primary-900;
  }
}
.li:focus-within {
  box-shadow: 0 0 0px 5px rgba(255, 255, 255, 0.6);
  .slideTitle {
    color: #ffd24c;
  }
  .slideAnchor {
    @apply bg-primary-900;
  }
}

.liInnerWrapper {
  max-width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px;
  transition: all 0.5s;
  transform-origin: center;
  opacity: 0.6;
  transform: scaleY(0.94);
}
.liInnerWrapper.visible {
  opacity: 1;
  transform: scaleY(1);
}

.slideAnchor {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  outline: none;
  background-color: white;
  aspect-ratio: 1.4;
}
.slideTitle {
  /* font-weight: lighter; */
  @apply text-primary-300;
}

.img {
  display: block;
  object-fit: cover;
  width: 100%;
  flex-shrink: 0;
  flex-basis: 50%;
  object-position: center;
  aspect-ratio: 2;
}

.copyWrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.carouselTitle {
  font-size: 24px;

  @apply text-primary-500 pl-6;
  margin: 0 auto;
  position: relative;
  z-index: 11;
  max-width: calc(var(--maxViewportWidth) + 24px);
}
