backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)
media_folder: 'images/uploads' # Media files will be stored in the repo under images/uploads
public_folder: '/images/uploads' # The src attribute for uploaded media will begin with /images/uploads
locale: it
display_url: https://meltemi-travel.netlify.app/
collections:
  - name: 'blog' # Used in routes, e.g., /admin/collections/blog
    label: 'Blog' # Used in the UI, e.g., "New Blog Post"
    folder: 'content/blog' # The path to the folder where the documents are stored
    extension: json
    create: true # Allow users to create new documents in this collection
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields each document in this collection will have
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'blog' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Featured Image', name: 'thumbnail', widget: 'image' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      - { label: 'Tags', name: 'tags', widget: 'list', default: [] }
      - { label: 'Draft', name: 'draft', widget: 'boolean', default: false }
